body {
  background-image: url("Images/fondo.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

h3 {
  font-family: 'BenchNine', sans-serif;
  padding-top: 6em;
  color: white;

}

h1 {
  font-family: 'BenchNine', sans-serif;
  padding-top: 1em;
  color: white;
@import url('https://fonts.googleapis.com/css?family=BenchNine:400,700&display=swap');

body{
    background-image: url("images/fondo.png");
    background-repeat: no-repeat; 
    background-size: cover; 
    background-attachment: fixed;  
    font-family:'BenchNine', sans-serif !important;
  }

h3{
  /* font-family: 'BenchNine', 'Open Sans', 'Condensed', sans-serif; */
  font-size: 2.3em !important;
  padding-top: 9em;
  color:white;
}

h1{
  /* font-family:'BenchNine', sans-serif; */
  font-weight: bold !important;
  font-size: 150px !important;
  padding-top: 0.4em;
  color:white;
}

#home {
  margin-left: 3em;
}

.oscar{
  padding-top: 4em;
  opacity: 0.7;
}

.card {
  background: none !important;
  flex-direction: row !important;
}


.movie-title {
  color: white;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 80px;
}

.back {
  color: white;
  line-height: 1.6;
  font-family: 'BenchNine', sans-serif;
  font-size: 25px;
  flex: 1 0 auto;
  width: 50%;
  align-self: center;
  margin: 30px;
  align-content: space-between !important;
}

.front {
  padding-top: 4em;
}

.wrap {
  margin-top: 5em;
}

.column {
  background: none;
  background-size: 2em;
  display: flex;
  margin-top: 15px;
}

.buttons {
  justify-content: space-evenly;
  margin-top: 100px;

}

.header {
  margin-top: 20px;
}

.material-icons {
  font-size: 3.5em !important;
  color: white;
}

.icono-Movie {
  color: white;
  margin: 7px;
  font-size: 1.8em;
}

.plot {
  font-weight: bold;
  font-size: 40px;
  line-height: 64px;
  color: rgba(255, 255, 255, 0.75);
}

.resena {
  margin-top: 2em;
}

.spacing {
  height: 100px;
}