body {
  background-image: url("Images/fondo.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

h3 {
  font-family: 'BenchNine', sans-serif;
  padding-top: 6em;
  color: white;

}

h1 {
  font-family: 'BenchNine', sans-serif;
  padding-top: 1em;
  color: white;
}

#home {
  margin-left: 3em;
}

.oscar {
  padding-top: 6.5em;
}

.card {
  background: none !important;
  flex-direction: row !important;
  align-content: space-between !important;
}

h4 {
  color: white;
  font-family: 'Open Sans Condensed', sans-serif;
}

.back {
  color: white;
  line-height: 1.6;
  font-family: 'BenchNine', sans-serif;
  font-size: 25px;
  flex: 1 0 auto;
  display: flex;
  width: 50%;
  align-self: center;
  margin: 30px;
  align-content: space-between !important;
}

.front {
  padding-top: 4em;
}

.wrap {
  margin-top: 5em;
}

.column {
  background: none;
  background-size: 2em;
  display: flex;
  margin-top: 15px;
}

.buttons {
  justify-content: space-evenly;
  margin-top: 100px;
}

.header {
  margin: 20px;
}

.material-icons {
  font-size: 3.5em !important;
  color: white;
}

.icono-Movie {
  color: white;
  margin: 7px;
  font-size: 1.8em;
}
